page-perfil-usuario {
  .dadosAnimal{
    border-top: 2px solid #C6911D;
    border-bottom: 2px solid #C6911D;
  }

  .botaoPerfil {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      margin-top: 3%
  }

}
